<h2>Chapter one</h2>
<h3>The UK's changing climate</h3>

<p>Human activity is now causing changes to the climate that have long been predicted. Global and UK average land temperatures have risen by around 1.2°C since the 1850-1900 period (Figure 3). UK sea levels have risen by 16cm since 1900. Episodes of extreme heat are becoming more frequent, with the chance of a hot summer like 2018 now up to 25% per year compared to less than 10% a few decades ago. People, nature, infrastructure and business are already vulnerable to a range of climate impacts. These will increase. The UK is likely to experience around an additional 0.5°C increase in annual average temperature by 2050, even under ambitious global scenarios for cutting greenhouse gas emissions.</p>

<p>These changes will increase our exposure to weather-related hazards:</p>

<ul>
    <li>Increases in average and extreme temperatures, in winter and summer.</li>

    <li>Changes to rainfall patterns, leading to flooding in some places, at some times, and water scarcity in others.</li>

    <li>Increased coastal flooding and erosion, alongside increasing sea temperatures and ocean acidification.</li>

    <li>Increased frequency and intensity of wildfire.</li>

    <li>Potential changes to other weather variables including wind strength and direction, sunshine and UV levels, cloudiness, and sea conditions such as wave height.</li>
</ul>

<p>This report updates the latest evidence of how the risks and opportunities from the changing climate for the UK are changing and their implications for the way we live and work, and for our natural environment Sixty-one risks and opportunities have been studied in detail. Several hundred experts from across the UK have contributed over the past three years to the technical assessment that underpins this work.</p>

<p>We are falling behind on adapting to climate change. The need for additional adaptation, above what is already planned, has increased in the last five years.</p>

<p>New evidence has revealed a greater degree of risk:</p>

<ul>
    <li>56% of the risks and opportunities assessed in the Technical Report have received the highest urgency score, compared to 36% for the last assessment in 2016.</li>

    <li>Fourteen comparable risks have increased in future magnitude compared to the last assessment in 2016. None have decreased.</li>

    <li>The magnitude of risks is also increasing faster than earlier assessments predicted. Fifteen of today’s risks are now at a higher magnitude than the first <abbr title="Climate Change Risk Assessment">CCRA</abr>, in 2012, predicted for the 2020s.</li>
</ul>
