<h2>Chapter three</h2>
<h3>The adaptation return</h3>

<p>The Government has an essential role to enable and enforce good adaptation planning across the UK. It can do this by addressing market failures, providing better information on risks, supporting the coordination of local action, implementing a framework of targets, incentives and reporting, and directly funding adaptation action. It should also provide a strong governance framework for adaptation to ensure that it is integrated more widely into relevant policies. The Government has not heeded our past advice on the importance of setting this framework and resourcing it adequately. Adaptation governance has weakened over the past ten years at the same time as the evidence of climate risk has grown.</p>

<p>This must change. Integrating the ten principles set out in this section and in Figure 3 into the next set of national adaptation plans will strengthen the framework for risk assessments and adaptation action.</p>

<ol>
    <li>Set out a vision for a well-adapted UK</li>

    <li>Integrate adaptation into policies, including for Net Zero</li>

    <li>Adapt to 2ºC; assess the risks up to 4ºC</li>

    <li>Avoid lock-in</li>

    <li>Prepare for unpredictable extremes</li>

    <li>Assess interdependencies</li>

    <li>Understand threshold effects</li>

    <li>Address inequalities</li>

    <li>Consider opportunities from climate change</li>

    <li>Support the implementation of adaptation through funding, resources, indicators, and research to link adaptation actions to reductions in risk</li>
</ol>
