<h2>Chapter four</h2>
<h3>Priorities for action</h3>

<p>Of the 61 risks and opportunities set out in the <abbr title="3rd Climate Change Risk Assessment">CCRA3</abbr> Technical Report, the Committee has highlighted eight priority areas that, in particular, should be taken forward as critical adaptation policies at the highest levels of government in the next two years, in advance of the next round of National Adaptation Plans. These eight priorities are based on the Committee’s assessment using the following criteria, which are shown for each risk and opportunity in an accompanying annex to this report:

<ul>
<li>the degree of urgency given in the Technical Report</li>
<li>the gap in adaptation planning</li>
<li>the growing importance to the UK in the context of the changes taking place, for example the implications of delivering Net Zero</li>
<li>the opportunity to integrate adaptation into major policies, legislation and strategies over the course of the rest of this Parliament (up to 2024)</li>
</ul>

<p>Our eight priority areas are:</p>

<ol>
    <li>Risks to the viability and diversity of terrestrial and freshwater habitats and species from multiple hazards</li>

    <li>Risks to soil health from increased flooding and drought</li>

    <li>Risks to natural carbon stores and sequestration from multiple hazards leading to increased emissions</li>

    <li>Risks to crops, livestock and commercial trees from multiple hazards</li>

    <li>Risks to supply of food, goods and vital services due to climate-related collapse of supply chains and distribution networks</li>

    <li>Risks to people and the economy from climate-related failure of the power system</li>

    <li>Risks to human health, well-being and productivity from increased exposure to heat in homes and other buildings</li>

    <li>Multiple risks to the UK from climate change impacts overseas We set out our analysis supporting these priorities in three sections:</li>
</ol>
<p class="cut">The adaptation deficit</p>
<p class="cut">Priority risks for action</p>
<p class="cut">The background assumptions for our risk prioritisation, shown in the accompanying annex for this report</p>
