<h2>Chapter two</h2>
<h3>Assessing UK climate risk</h3>

<p>Key risks to the UK such as flooding and water scarcity also remain significant and are assessed as needing more action in the <abbr title="3rd Climate Change Risk Assessment">CCRA3</abbr> Technical Report. However, well-developed policies are in place for managing these hazards so they have relatively smaller gaps in adaptation planning.</p>

<ol>
    <li>Risks to the viability and diversity of terrestrial and freshwater habitats and species from multiple hazards.</li>

    <li>Risks to soil health from increased flooding and drought</li>

    <li>Risks to natural carbon stores and sequestration from multiple hazards, leading to increased emissions</li>

    <li>Risks to crops, livestock and commercial trees from multiple climate hazards</li>

    <li>Risks to supply of food, goods and vital services due to climate-related collapse of supply chains and distribution networks</li>

    <li>Risks to people and the economy from climate-related failure of the power system</li>

    <li>Risks to human health, wellbeing and productivity from increased exposure to heat in homes and other buildings</li>

    <li>Multiple risks to the UK from climate change impacts overseas</li>
</0l>
