/* Fix list indents */
main ul, main ol {
    padding-left: 2rem;
}
main ul {
    list-style-image: url('../img/diamond.svg');
}
main ol {
    list-style: decimal;
}
/* Give the items a little veritcal breathing room */
main li {
    margin: 0.3rem 0;
}

/* Content from the report that is cut from the summary */
.cut {
    display: hidden;
}
