/* Define colour palette */
:root {
    --main-bg: #AED984;
    --mid-dark-bg: #577e39;
    --dark-bg: #3D5928;
    --light-bg: #628E40;
    --lighter-bg: #8ebe6a;

    --light-fg: #D6EAC2;
    --dark-fg: #152515;
}

body {
    background-color: var(--main-bg);
}

#header, #footer {
    background-color: var(--dark-bg);
}

#header nav {
    background-color: var(--light-bg);
}

/* Colour navigation menu & submenu */
.menu > li, .submenu > li {
    border: 1px solid var(--dark-bg);
    cursor: pointer;
}
.menu > li {
    background-color: var(--light-bg);
}
.submenu > li {
    background-color: var(--mid-dark-bg);
}

/* Some distinction in the chade of the dropwn to make it
 * stand out a bit better */
.dropdown[open] {
    background-color: var(--main-bg);
}
.dropdown[open] .chapters-dropdown {
    color: var(--dark-fg);
}

/* Nav button text */
.menu a {
    color: var(--light-fg);
}
@media (hover: hover) {
    .menu a:hover, .dropdown:hover > summary > a {
        color: var(--dark-fg);
    }
}

/* Prevent doubling of border between buttons */
.menu > li:nth-of-type(-n+3) {
    border-right: initial;
}
.submenu > li:nth-of-type(-n+3) {
    border-bottom: initial;
}

/* Menu button hovering effects */
@media (hover: hover) {
    .menu > li:hover, .submenu > li:hover {
        background-color: var(--main-bg);
        transition: all 0.4s ease-out;
        transform: scale(1.01);
        filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--dark-bg));
    }
}

/* Main body styles */
/*  */
main h2, main h3, main p, label {
    color: var(--dark-fg);
}

/* Form styling */
fieldset {
    border: 2px solid var(--lighter-bg);
    border-radius: 0.3rem;
}
input, textarea {
    background-color: #c1deaf;
    color: #172617;
    border: 1px solid var(--light-bg);
    border-radius: 0.2rem;
    padding: 0.2rem 0.3rem;
}
::placeholder {
    color: #6d9044;
}
#submit {
    background-color: var(--lighter-bg);
    color: var(--dark-fg);<F11>
}

/* Footer text */
#footer p, #footer a {
    color: var(--light-fg);
}
