/* Define colour palette */
:root {
    --main-bg: #AED984;
    --dark-bg: #3D5928;
    --light-bg: #628E40;

    --light-fg: #D6EAC2;
    --dark-fg: #152515;
}

body {
    background-color: var(--main-bg);
}

#header, #footer {
    background-color: var(--dark-bg);
}

#header nav {
    background-color: var(--light-bg);
}

/* Colour navigation menu & submenu */
.menu > li, .submenu > li {
    background-color: var(--light-bg);
    border: 1px solid var(--dark-bg);
    cursor: pointer;
}

/* Nav button text */
.menu a {
    color: var(--light-fg);
}
.menu a:hover, .dropdown:hover > summary > a {
    color: var(--dark-fg);
}

/* Prevent doubling of border between buttons */
.menu > li:nth-of-type(-n+3) {
    border-right: initial;
}
.submenu > li:nth-of-type(-n+3) {
    border-bottom: initial;
}

/* Menu button hovering effects */
.menu > li:hover, .submenu > li:hover {
    background-color: var(--main-bg);
    transition: all 0.4s ease-out;
    transform: scale(1.01);
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--dark-bg));
}

/* Footer text */
#footer p, #footer a {
    color: var(--light-fg);
}

/* Mobile (portrait) or other narrow screen styles */
@media screen and (max-width: 500px) {
    /* Clear menu button hovering effects */
    .menu > li:hover, .submenu > li:hover {
        transition: none;
        transform: none;
    }
}
