:root {
    --main-bg: #AED984;
    --dark-bg: #3D5928;
    --light-bg: #628E40;
}

body {
    background-color: var(--main-bg);
}

header {
    background-color: var(--dark-bg);
}

header nav {
    background-color: var(--light-bg);
}

header nav ul > li {
    border: 1px solid var(--dark-bg);
}

header nav ul > li:hover {
    backdrop-filter: brightness(1.2);
}
