/* Set useful defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Prevent page getting too wide to comfortably read */
body {
    max-width: 64em;
    margin: auto;
}

/* Default margins for some vertical spacing */
h1, h2, h3, p {
    margin-top: 0.75rem;
}

/* Main Navigation menu */
.menu,
.submenu {
    list-style: none;
    padding: 0;
}
.menu {
    display: flex;
    justify-content: center;
}
.menu > li {
    display: inline-block;
    text-align: center;
    width: 6rem;
}
.menu > li > a,
.menu > li summary {
    display: inline-block;
    padding: 0.5em 0;
    text-decoration: none;
    width: 100%;
}
.submenu > li > a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Dropdowns open over content rather than displacing */
details.dropdown > summary + * {
    position: absolute;
}

/* Open/close navigation dropdowns on hover instead of on click */
@media only screen and (any-hover: hover) and (min-width: 501px) {
    details.dropdown > summary + * {
        display: none;
    }
    details.dropdown:hover > summary + *,
    details.dropdown:focus-within > summary + * {
        display: block;
    }
}

/* Mobile (portrait) or other narrow screen styles */
@media screen and (max-width: 500px) {
    /* Make the menu full width and stacked vertically */
    .menu {
        flex-direction: column;
    }
    .menu > li {
        width: 100%;
    }

    /* Dropdowns displace content down instead of opening over it */
    details.dropdown > summary + * {
        position: static;
    }
}
