<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Committee on Climate Change UK Summary</title>
    <meta name="description" content="Summary of the UK Committee on Climate Change's Independent Assessment of UK Climate Risk" />
    <meta name="author" content="Joey Sabey" />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <% css.forEach(function(name) { %>
        <%- include('partials/cssTag', {name: name}) %>
    <% }); %>
</head>
<body>
    <header id="header" role="banner">
        <h1>CCC Summary</h1>

        <%- include('partials/menu', {page: page}) %>
    </header>

    <main id="main" role="main">
        <%- include('pages/' + page + '_main') %>
    </main>

    <footer id="footer" role="contentinfo">
        <!-- TODO: duplicate navigation for accessibility -->

        <p><small>&copy; CCCSUMMARY. All rights reserved.</small></p>

        <p>In association with <a href="https://climate.nasa.gov">NASA Climate</a> &amp; <a href="https://theccc.org.uk">Commitee on Climate Change</a></p>
    </footer>

    <% scripts.forEach(function(name) { %>
        <%- include('partials/scriptTag', {name: name}) %>
    <% }); %>
</body>
</html>
