<form method="post">
    <fieldset>
        <legend><h2>Signup for updates</h2></legend>

        <label for="firstName">First name:</label>
        <input id="firstName" name="firstName" type="text" placeholder="First name" required />

        <label for="lastName">Last name:</label>
        <input id="lastName" name="lastName" type="text" placeholder="Last name" required />

        <label for="email">Email address:</label>
        <input id="email" name="email" type="email" placeholder="email@example.com" required />

        <label for="comments">Comments:</label>
        <textarea id="comments" name="comments" placeholder="Comments" spellcheck></textarea>

        <input id="submit" name="submit" type="submit" />
    </fieldset>
</form>
